.scroll {
    overflow-x: scroll;
}

.card{
    flex-shrink: 0;
    padding: 0 10pxpx;
}

/* .mainChar{
    margin-top: 10%;
} */

.category{
    color: white;
    margin: 5% 0;
}
.card-body{
    display: flex;
    justify-content: space-between;
}