@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
.listaFav{
   display: flex;
}
.trash{
    text-decoration: none;
}
.nav-link{
    font-family: 'Londrina Outline', sans-serif;
    font-size: 60px;
}
/*body {
    background-image: url("https://img2.goodfon.com/wallpaper/nbig/6/d7/solnce-zvezdy-stratosfera.jpg") ; 
    background-size: auto;
  
  }*/





  body {
    background: url("https://images.unsplash.com/photo-1608754482805-6f630357358b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3BhY2UlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80") ;
    background-size: cover;
    resize: both;
    overflow: scroll;
  }

  
  
  /*
  #planetImg {
    font-size:14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
  }

  #vehicleImg {
    font-size:14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
   
  }

  #characterImg {
    font-size:14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
  }
  */