/* 
    General Styles
*/
.listaFav{
   display: flex;
}
.trash{
    text-decoration: none;
}
body {
    background-image: url("https://wallpaperaccess.com/full/2753746.jpg") ; 
    background-size: cover;
  
  }